<%- include('user-nav.ejs') %>

<%- include('side-nav.ejs') %>

<article id="main">
    
<section class="profileBody">
    <section class="content-container">
    <h3>Search Food Trucks</h3>
    <input class="search" placeholder="Enter Truck Name">
    <br />
    <a href="#" class="button primary small icon solid fa-search">Search</a>

    <section class="map">
        <h3>Who's Open</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14209.001167891529!2d-82.18223905!3d27.0854029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1663347624484!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

</section>
    
</section>



<!-- main body -->
    <!-- search food trucks -->
    <!-- open trucks map-->
    <!-- feed -->
