<header id="header">
    <h1><a href="/"><img src="/images/text.png" alt="FoodFinder"></a></h1>
    <a id="login-nav" href="/login">Log In</a>
    <a href="#menu">Menu</a>
</header>

		<!-- Menu -->
        <nav id="menu">
            <ul class="links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
            <ul class="actions stacked">
                <li><a href="/signup" class="button fit primary">Sign Up</a></li>
                <li><a href="/login" class="button fit">Log In</a></li>
            </ul>
        </nav>