<!DOCTYPE HTML>
<html>
	<head>
		<title>FoodFinder</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="/css/forms.css" />
<!-- FIX THE FAVICON -->
		<link rel="apple-touch-icon" sizes="180x180" href="../../favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../../favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../../favicon/favicon-16x16.png">
		<link rel="manifest" href="../images/favicon/site.webmanifest">

	</head>
	<body class="is-preload">

				