<nav class="sideNav">
    <section class="intro">
        <section class="greeting">
            <h1>Hello,<br /> Username!</h1>
            
        </section>
        <img class="profilePic" src="images/food.jpg" alt="user's profile picture">
    </section>
    
    <section class="following">
        <a class="button primary fit following" href="following">Following (0)</a>
    </section>
    <ul>
        <li>What's Happening:</li>
            <ul class="feed">
                <li>Sample Status 1</li>
                <li>Sample Status 2</li>
            </ul>
    </ul>
</nav>