<nav class="sideNav">
    <section class="intro">
        <section class="greeting">
            <h1>Hello,<br /> <%= user.userName %>!</h1>
            
        </section>
        <img class="profilePic" src="images/food.jpg" alt="user's profile picture">
    </section>
    <ul>
        <li><a href="#" class="button primary small fit">Change Profile Picture</a></li>
        <li><a href="/public" class="button primary small fit">View Profile</a></li>
        <li><a href="/followers" class="button primary small fit">Followers (0)</a></li>
    </ul>
</nav>