<header id="header">
    <h1><a href="/"><img src="/images/text.png" alt="FoodFinder"></a></h1>
    <a id="logout-nav" href="/logout">Log Out</a>
    <a href="#menu">Menu</a>
</header>

		<!-- Menu -->
        <nav id="menu">
            <ul class="links">
                <li><a href="/profile">Home</a></li>
                <li><a href="/about">About</a></li>
                <li>Edit Profile:</li>
                <li><ul class="editVendor">
                    <li><a href="/">Description</a></li>
                    <li><a href="/">Contact Info</a></li>
                    <li><a href="/">Menu</a></li>
                    <li><a href="/">Photos</a></li>
                    <li><a href="/">Links</a></li>
                </ul></li>
            </ul>
            <ul class="actions stacked">
                <li><a href="/logout" class="button fit">Log Out</a></li>
            </ul>
        </nav>