<%- include('partials/header.ejs') %>
<%- include('partials/guest-nav.ejs') %>

<div class="page-inset">
    <header>
        <h2>Our Goal</h2>
        <p>We want to make it easy for food trucks and their patrons to connect.</p>
    </header>
    <p>Food trucks are fantastic, they serve up some of the best food around, and sometimes they're right near you!  It can be tedious to try and keep track of where food trucks are on any given day.  With FoodFinder, we make it easy for food trucks to communicate to their consumers where they are, and for consumers to see the locations, in real time, of only the food trucks they're interested in.</p>
</div>

        <section id="two" class="wrapper alt">
            <section class="spotlight">
                <div class="image"><img src="images/foodtruck1.jpg" alt="a colorful food truck" /></div>
                <div class="content">
                    <h3 class="major">As a Vendor</h3>
                    <p>You will be able to turn your location on when you're open, and off when you're closed.  Any patrons that follow you will be able to see where you are in real time, so they can find you easily.  You can also share messages to your followers letting them know any important information, like specials, for that day.  Your followers will also be able to view your photo gallery, menu, description, contact information, and links to your website and social media profiles.</p>
                </div>
            </section>
            <section class="spotlight">
                <div class="image"><img src="images/takeout.jpg" alt="delicious food" /></div>
                <div class="content">
                    <h3 class="major">As a Consumer</h3>
                    <p>You will have the ability to search for any food trucks you're interested in, and follow their page.  You will have a map in your profile where you can see in real time which food trucks that you follow are open near you, and exactly where they are.  You will also be able to see any special messages the food trucks send out to their followers.</p>
                </div>
            </section> 
         </section>


    <!-- Three -->
        <section id="three" class="instructions wrapper style1 special">
            <div class="inner narrow">
                <h3 class="major special">How do I begin?</h3>
                <p><ol>
                        <li>Click the button below to go to our sign up page.</li>
                        <li>Fill out the form to create your account.  Be sure to select which type of account you need: vendor or consumer.</li>
                    </ol>
                <h3 class="major special">Once your account is created:</h3>
                        <ol>
                            <li>Consumers: Start searching for food trucks to follow.</li>
                            <li>Vendors: Use the customization options in the menu to finish filling out your profile with all the information you want to display to your followers.  When you're ready to open, turn on your location!</li>
                        </ol>
                </p>
                <ul class="actions special">
                    <li><a href="/signup" class="button primary large">Get started</a></li>
                </ul>
            </div>
        </section>



<%- include('partials/footer.ejs') %>