<%- include('partials/header.ejs') %>

<%- include('partials/vendor-nav.ejs') %>

<article id="main">
    <header>
        <h2 class="major special">Followers</h2>
        <a class="button primary" href="profile">Back to Profile</a>
    </header>


    <div class="box alt">
        <div class="row gtr-50 gtr-uniform">
            <div class="col-2"><span class="image fit"><img src="images/pic01.jpg" alt="" /><br /><span>Username</span></span></div>
            
            <div class="col-2"><span class="image fit"><img src="images/pic01.jpg" alt="" /><br /><span>Username</span></span></div>
            
            <div class="col-2"><span class="image fit"><img src="images/pic01.jpg" alt="" /><br /><span>Username</span></span></div>
            
            <!-- Break -->
            <div class="col-2"><span class="image fit"><img src="images/pic01.jpg" alt="" /><br /><span>Username</span></span></div>
            
            <div class="col-2"><span class="image fit"><img src="images/pic01.jpg" alt="" /><br /><span>Username</span></span></div>
            
            <div class="col-2"><span class="image fit"><img src="images/pic01.jpg" alt="" /><br /><span>Username</span></span></div>
            
            <!-- Break -->
            <div class="col-2"><span class="image fit"><img src="images/pic01.jpg" alt="" /><br /><span>Username</span></span></div>
            
            <div class="col-2"><span class="image fit"><img src="images/pic01.jpg" alt="" /><br /><span>Username</span></span></div>
            
            <div class="col-2"><span class="image fit"><img src="images/pic01.jpg" alt="" /><br /><span>Username</span></span></div>
            
            <!-- Break -->
            <div class="col-2"><span class="image fit"><img src="images/pic01.jpg" alt="" /><br /><span>Username</span></span></div>
            
            <div class="col-2"><span class="image fit"><img src="images/pic01.jpg" alt="" /><br /><span>Username</span></span></div>
            
            <div class="col-2"><span class="image fit"><img src="images/pic01.jpg" alt="" /><br /><span>Username</span></span></div>
            
        </div>
    </div>

<%- include('partials/profile-footer.ejs') %>