<%- include('partials/header.ejs') %>

<%- include('partials/guest-nav.ejs') %>


		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2 class="major special"><img src="/images/invertedtransparent.png" alt="FoodFinder Logo"></h2>
					<p>Linking food trucks with the hungry people that want to find them.</p>
					<ul class="actions special stacked">
						<li><a href="/signup" class="button primary large">Get started</a></li>
						<li><a href="/about" class="button large scrolly">Learn more</a></li>
					</ul>
				</div>
			</section>


<%- include('partials/footer.ejs') %>