<%- include('partials/header.ejs') %>
<%- include('partials/temp-nav.ejs') %>

<article id="main">
    <header>
        <h2 class="major special">Vendor Name</h2>
        <div id="follow">
            <a class="button primary hideMe" href="#">Follow</a>
            <a class="button primary hidden" href="#">Unfollow</a>
        </div>
    </header>
    <section class="wrapper">
        <div class="inner">
            <span class="image left"><img src="images/pic04.jpg" alt="" /></span>
            <span class="left public-button"><a href="#" class="button primary">Menu</a></span>
            <span class="left public-button"><a href="#" class="button primary">Gallery</a></span>
            <hr>
            <h4>Description</h4>
            <p class="hideMe">This vendor has not entered a description yet.</p>
            <hr>

                <section class="contact-feed">
                    <section class="contact-info">
                        <h4>Contact Information</h4>
                        <p class="hideMe">This vendor has not entered any contact information yet.
                            <ul class="contact">
                                <li class="icon solid fa-phone"><a href="#">phone</a></li>
                                <li class="icon solid fa-envelope">email</li>
                                <li class="icon solid fa-globe"><a href="#">website</a></li>
                                <li class="icon brands fa-facebook"><a href="#">facebook</a></li>
                                <li class="icon brands fa-instagram"><a href="#">instagram</a></li>
                                <li class="icon brands fa-twitter"><a href="#">twitter</a></li>
                                
                            </ul>
                        </p>
                    </section>
                    <section class="vendor-feed">
                        <h4>News Feed</h4>
                        
                    </section>
                </section>
            <hr>
            <h4>Hours of Operation</h4>
            <p class="hideMe">This vendor has not entered any hours yet.</p>
            <!-- Table -->
										
										<div class="table-wrapper">
											<table>
												<thead>
													<tr>
														<th>Day</th>
														<th>Open</th>
														<th>Close</th>
													</tr>
												</thead>
												<tbody>
                                                    <tr>
														<td>Monday</td>
														<td>Time</td>
														<td>Time</td>
													</tr>
													<tr>
														<td>Tuesday</td>
														<td>Time</td>
														<td>Time</td>
													</tr>
													<tr>
														<td>Wednesday</td>
														<td>Time</td>
														<td>Time</td>
													</tr>

                                                    <tr>
														<td>Thursday</td>
														<td>Time</td>
														<td>Time</td>
													</tr>
													<tr>
														<td>Friday</td>
														<td>Time</td>
														<td>Time</td>
													</tr>

                                                    <tr>
														<td>Saturday</td>
														<td>Time</td>
														<td>Time</td>
													</tr>
													<tr>
														<td>Sunday</td>
														<td>Time</td>
														<td>Time</td>
													</tr>
													
												</tbody>
												
											</table>
										</div>
            
        </div>


    </section>
</article>

<%- include('partials/footer.ejs') %>

<!-- Truck Name -->
<!-- profile pic -->
<!-- follow -->
<!-- unfollow -->
<!-- checkbox to receive notifications (auto enabled) -->

<!-- left nav -->
    <!-- home -->
    <!-- truck followers and number -->
        <!-- person name -->
        <!-- person name -->
        <!-- person name -->
        <!-- person name -->

<!-- main body -->
    <!-- cover photo -->
    <!-- description -->
    <!-- view menu -->
    <!-- view photos-->
    <!-- contact -->
        <!-- phone number -->
        <!-- email -->
    <!-- links and social media -->
        <!-- website -->
        <!-- facebook -->
        <!-- twitter -->
