.login {
    margin: 0;
    padding: 15px 380px 215px 350px;
}

.signup {
    margin: 0;
    padding: 15px 380px 0 350px;
}

h3.login,
h3.signup {
    margin: 0;
    padding: 80px 0 45px 350px;
}

.emailNotFound,
.pwdError {
    color: red;
    text-align: center;
    text-shadow: 1px 0px 4px #000;
}


.vendor-form {
    color: white;
    flex: 1.25;
    padding-left: 6em;
	padding-right: 4em;
}


